<hibernate-configuration>
    <session-factory>
        <!-- Database connections settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./data/contactmgr</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>


        <!-- Create the database Schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.g0ng0n.contactmgr.model.Contact" />

        <!-- show queries prepared by hibernate -->
        <property name="show_sql">true</property>
        
    </session-factory>

</hibernate-configuration>